{% extends 'bs_app/base.html' %}
{%block title %}Books{% endblock %}

{%block content %}



  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading">
        {{ author.name }}
        <a href="/app/categories/{{ book.category.id }}"><span class=" pull-right">{{ book.category }}</span></a>
      </div>
      <div class="panel-body">
        {{ author.bio }}
        <br><br><br><br>
        Books Written by this Author:<br><br><br>
        <ul>
          {% for book in books %}
              <li>
                <a href="/app/books/{{ book.id }}">{{ book.title }}</a><br>
              </li>
          {% endfor %}
        </ul>
      </div>
      {% if category in my_categories %}
        <div class="panel-footer"><a href="/app/categories/{{category.id}}/unsubscribe" class="btn btn-xs btn-primary">Unsubscribe</a></div>
      {% endif %}
      {% if category not in my_categories %}
        <div class="panel-footer"><a href="/app/categories/{{category.id}}/subscribe" class="btn btn-xs btn-primary">Subscribe</a></div>
      {% endif %}
    </div>
  </div>
{% endblock %}
