<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href='/static/bs_app/css/bootstrap.css'/>
    <link rel="stylesheet" href='/static/bs_app/css/style.css'/>
    <link href="/static/bs_app/css/templatemo_style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div id="templatemo_container">
      <div id="templatemo_menu">
        <ul class=" navbar-nav">
          <li><a href="/app/home">Home</a></li>
          <li><a href="/app/books">Books</a></li>
          <li><a href="/app/authors">Authors</a></li>
          <li><a href="/app/categories">Categories</a></li>
          <li>
            <a href="#">
              <div class="dropdown">
                <span>Notification <span class="badge"></span></span>
                <div class="dropdown-content">
                  <p><a href="#"></a></p>
                </div>
              </div>
            </a>
          </li>
          <li><a href="/auth/logout/">Logout</a></li>
        </ul>
        <ul id="search_form" class="navbar-form navbar-right" >
          <select class='form-control' name="search_by" id="search_by">
            <option value="book">Book</option>
            <option value="author">Author</option>
          </select>
          <div class="input-group">
            <input type="text" class="form-control" id="query" placeholder="Search for...">
            <span class="input-group-btn">
              <a class="btn btn-default" id="search" >Go!</a>
            </span>
          </div><!-- /input-group -->
        </ul>
        <ul class=" navbar-nav navbar-right">
        </ul>
      </div>
      <!-- end of menu   -->
    <div id="templatemo_content">
      <!--  Side bar -->
      <div id="templatemo_content_left">
      <div class="templatemo_content_left_section">
          <h1>My Categories</h1>
            <ul>
              {% for category in request.user.profile.categories.all %}
                <li><a href="/app/categories/{{category.id}}">{{category.name}}</a></li>
              {% endfor %}
          </ul>
        </div>
        <div class="templatemo_content_left_section">
              	<h1>My Authors</h1>
                  <ul>
                    {% for author in request.user.profile.authors.all %}
                      <li><a href="/app/authors/{{author.id}}">{{author.name}}</a></li>
                    {% endfor %}
              	</ul>
              </div>
          </div> <!-- end of content left -->
    <div id="templatemo_content_right">
        {%block content %}
        {% endblock %}
    </div>
    <div class="cleaner_with_height">&nbsp;</div>
  </div> <!-- end of content -->
  <div id="templatemo_footer">

       <a href="/app/home">Home</a> |
       <a href="/app/books">Book</a> |
       <a href="/app/categories">Categories</a>
       <br />
      Copyright © 2017 <a href="#"><strong>Book Store</strong></a> 	</div>
  <!-- end of footer -->
</div> <!-- end of container -->
    <script type="text/javascript" src='/static/bs_app/js/jquery.min.js' ></script>

    <script type="text/javascript">
      // notificaitons dropdown
      var resp;
      $.get(window.location.origin + "/app/notifications/get", function(data, status){
        if(status){
          resp = JSON.parse(data.data)
          $('.dropdown span.badge').text(data.new_notifications == 0 ? "" : data.new_notifications )
          notifications_body = "" ;
          for(var i = resp.length-1 ; i >= 0 ; i--){
            notifications_body += "<p><a href='/app/books/" + resp[i].fields.book +"'>" + resp[i].fields.body + "</a></p>"
          }
          $('.dropdown .dropdown-content').html(notifications_body)
        }
      });
      $('.dropdown').hover(function(e){
        $.get(window.location.origin + "/app/notifications/set/"+resp[0].pk, function(data, status){
          if(status){
            console.log(resp[resp.length-1].pk);
            $(' span.badge').text('')
            console.log(data);
          }
        });
      })


      // Search functionality
      function search(){
        search_by = document.getElementById('search_by').value.trim()
        query = document.getElementById('query').value.trim()
        if(query != ""){
          window.location = window.location.protocol + "//" + window.location.host + "/app/search/"+ search_by +"/" + query;
        }
      }
      $('#search').click(search)
      $('#query').keypress(function(e){
        if(e.which == 13){
          search()
        }
      })
    </script>
  </div>
  </body>
</html>
