{% extends 'bs_app/base.html' %}
{%block title %}Books{% endblock %}

{%block content %}


  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading">{{ object.title }}</div>
      <div class="panel-body">
        <div class="col-xs-8">
          {{ object.description }}<br><br>
          Authors:<br>
          <ul>
            {{ object.state }}
            {% for author in object.authors.all %}
              <li><a href="/app/authors/{{ author.id }}">{{ author.name }}</a></li>
            {% endfor %}
          </ul>
        </div>
        <div class="col-xs-4">
            <p>
              {% if properties.state != 'read'%}
                <a href="/app/books/{{object.id}}/read" class="btn btn-primary">Read</a>
              {% endif %}
              {% if properties.state != 'wish' %}
                <a href="/app/books/{{object.id}}/wish" class="btn btn-info">Wish</a>
              {% endif %}
            </p>
            <p>Book's Average Rate:
              {% if average_rating < 7  %}
              <span class="label label-danger">
              {% else %}
              <span class="label label-success"> 
              {% endif %}
              {{ average_rating }}
              </span>
            </p>
            <p>Rate it:
              <select class="form-control" id='rate' onchange="rate()">
                <option value="">----</option>
                {% for i in rate_list %}
                  {% if properties.rate == i  %}
                    <option value="{{i}}" selected>{{i}}</option>
                  {% else %}
                    <option value="{{i}}">{{i}}</option>
                  {% endif %}
                {% endfor %}
                </select>
            </p>
        </div>
       </div>
    </div>
  </div>
  <script type="text/javascript">
    function rate(){
      new_rate = document.getElementById('rate').value
      if(new_rate != ''){
        window.location = window.location.href+"/rate/"+new_rate
      }
      console.log(window.location);
    }
  </script>
{% endblock %}
