{% extends 'bs_app/base.html' %}
{%block title %} Home {% endblock %}

{%block content %}
<div class="row">
  <div class="col-xs-6">
    <h5>Latest Books in my Categories:</h5>
    <ul>
    {% for book in categories_books %}
      <li><a href="/app/books/{{book.id}}">{{book.title}}</a> <small>in <a href="/app/categories/{{book.category.id}}">{{ book.category.name }}</a></small></li>
    {% endfor %}
  </ul>
  </div>
  <div class="col-xs-6">
    <h5>Latest Books by my Authors:</h5>
    <ul>
      {% for book in authors_books %}
        <li><a href="/app/books/{{book.id}}">{{book.title}}</a><small>Published by
          {% for author in book.authors.all %}
            <a href="/app/authors/{{author.id}}">{{ author.name }}.</a>
          {% endfor %}
        </small></li>
      {% endfor %}
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h4>Latest Books:</h4>
    {% for book in latest_books %}
    <div class="templatemo_product_box">
        <h1>{{ book.title }}  <span><small>(in {{ book.category.name }})</small></span></h1>
        <div class="col-xs-4">
          <img src="{{ book.image.url| slice:'6:' }}" class="img-responsive" alt="image" />
        </div>
          <div class="col-xs-8">
            <div class="product_info">
              <p>{{ book.description }}</p>
                <div class="detail_button"><a href="/app/books/{{book.id}}">Detail</a></div>
            </div>
          </div>
          <div class="cleaner">&nbsp;</div>
      </div>
      <div class="cleaner_with_width">&nbsp;</div>
    {% endfor %}
  </div>
</div>


{% endblock %}
