{% extends 'bs_app/base.html' %}
{%block title %}Books{% endblock %}

{%block content %}



      {% if search_type == 'book' %}
        {% for book in books %}
        <div class="templatemo_product_box">
            <h1>{{ book.title }}  <span><small>(in {{ book.category.name }})</small></span>
              {% if book.average_rate < 7  %}
                  <span class="label label-danger pull-right">
                    {% else %}
                      <span class="label label-success pull-right">
                    {% endif %}
                    {{ book.average_rate }}
                  </span></h1>
            <div class="col-xs-4">
              <img src="{{ book.image.url| slice:'6:' }}" class="img-responsive" alt="image" />
            </div>
              <div class="col-xs-8">
                <div class="product_info">
                  <p>{{ book.description }}</p>
                    <div class="detail_button"><a href="/app/books/{{book.id}}">Detail</a></div>
                </div>
              </div>
              <div class="cleaner">&nbsp;</div>
          </div>
          <div class="cleaner_with_width">&nbsp;</div>

        {% empty %}
          <h1>Sorry, no books matched your search criteria! </h1>
        {% endfor %}
      {% elif search_type == 'author' %}
        {% for author in authors %}
        <div class="templatemo_product_box">
            <h1>{{ author.name }}</h1>
            <div class="col-xs-4">
              <img src="{{ author.image.url| slice:'6:' }}" class="img-responsive" alt="image" />
            </div>
              <div class="col-xs-8">
                <div class="product_info">
                  <p>{{ author.bio }}</p>
                    <div class="detail_button"><a href="/app/authors/{{author.id}}">Details</a></div>
                    {% if author in my_authors %}
                      <div class="buy_now_button"><a href="/app/authors/{{author.id}}/unsubscribe">Unubscribe</a></div>
                    {% endif %}
                    {% if author not in my_authors %}
                      <div class="buy_now_button"><a href="/app/authors/{{author.id}}/subscribe">Subscribe</a></div>
                    {% endif %}
                </div>
              </div>
              <div class="cleaner">&nbsp;</div>
          </div>
          <div class="cleaner_with_width">&nbsp;</div>
        {% empty %}
          <h1>Sorry, No authors matched your search criteria! </h1>
        {% endfor %}
      {% endif %}

{% endblock %}
